.hidden {
    display: none;
}

.mt-12 {
    display: flex;
    gap: 70px;
}

.btn {
    display: flex;
    justify-items: center;
    justify-content:space-between;
    margin: 10px;
    width: 100px;
}

.arrow_down::after {
    content: "\25BC";
    align-items: left;   
}

.arrow_up::after {
    content: "\25B2"
}